.button-common {
  border-radius: 50%;
  background: white;
  color: black;
  font-size: 30px;
}

.button-home {
  position: absolute;
  right: 10%;
  bottom: 10%;
}

// .button-description {
//   position: absolute;
//   right: 10%;
//   bottom: 10%;
// }